<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rhtop.buss.biz.mapper.CodeValueMapper" >

  <resultMap id="BaseResultMap" type="com.rhtop.buss.common.entity.CodeValue" >
	<id column="code_value_id_" property="codeValueId" jdbcType="CHAR" />
	<result column="update_user_" property="updateUser" jdbcType="VARCHAR" />
	<result column="update_time_" property="updateTime" jdbcType="VARCHAR" />
	<result column="create_user_" property="createUser" jdbcType="VARCHAR" />
	<result column="code_map_id_" property="codeMapId" jdbcType="VARCHAR" />
	<result column="create_time_" property="createTime" jdbcType="VARCHAR" />
	<result column="code_value_" property="codeValue" jdbcType="VARCHAR" />
	<result column="code_value_describe_" property="codeValueDescribe" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  	update_user_,
  	update_time_,
  	create_user_,
  	code_map_id_,
  	code_value_id_,
  	create_time_,
  	code_value_,
  	code_value_describe_
  </sql>
  
  <!-- 根据条件新增对象-->
  <insert id="insertSelective" parameterType="com.rhtop.buss.common.entity.CodeValue" >
    insert into sys_code_value_
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	<if test="updateUser != null" >
	    	update_user_,
	    </if>
    	<if test="updateTime != null" >
	    	update_time_,
	    </if>
    	<if test="createUser != null" >
	    	create_user_,
	    </if>
    	<if test="codeMapId != null" >
	    	code_map_id_,
	    </if>
    	<if test="codeValueId != null" >
	    	code_value_id_,
	    </if>
    	<if test="createTime != null" >
	    	create_time_,
	    </if>
    	<if test="codeValue != null" >
	    	code_value_,
	    </if>
    	<if test="codeValueDescribe != null" >
	    	code_value_describe_,
	    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="updateUser != null" >
	    	#{updateUser},
	    </if>
    	<if test="updateTime != null" >
	    	#{updateTime},
	    </if>
    	<if test="createUser != null" >
	    	#{createUser},
	    </if>
    	<if test="codeMapId != null" >
	    	#{codeMapId},
	    </if>
    	<if test="codeValueId != null" >
	    	#{codeValueId},
	    </if>
    	<if test="createTime != null" >
	    	#{createTime},
	    </if>
    	<if test="codeValue != null" >
	    	#{codeValue},
	    </if>
    	<if test="codeValueDescribe != null" >
	    	#{codeValueDescribe},
	    </if>
    </trim>
  </insert>
  <!-- 根据主键删除对象 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_code_value_ where
	code_value_id_ = #{codeValueId}
  </delete>
  <!-- 根据条件修改对象-->
  <update id="updateByPrimaryKeySelective" parameterType="com.rhtop.buss.common.entity.CodeValue" >
    update sys_code_value_
    <set >
		<if test="updateUser != null and updateUser != ''" >
        	update_user_ = #{updateUser},
      	</if>
		<if test="updateTime != null and updateTime != ''" >
        	update_time_ = #{updateTime},
      	</if>
		<if test="createUser != null and createUser != ''" >
        	create_user_ = #{createUser},
      	</if>
		<if test="codeMapId != null and codeMapId != ''" >
        	code_map_id_ = #{codeMapId},
      	</if>
		<if test="createTime != null and createTime != ''" >
        	create_time_ = #{createTime},
      	</if>
		<if test="codeValue != null and codeValue != ''" >
        	code_value_ = #{codeValue},
      	</if>
		<if test="codeValueDescribe != null and codeValueDescribe != ''" >
        	code_value_describe_ = #{codeValueDescribe},
      	</if>
    </set>
    where 
	code_value_id_ = #{codeValueId}
  </update>
  <!-- 根据主键查询对象-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_code_value_
	where code_value_id_ = #{codeValueId,jdbcType=CHAR}
  </select>
  <!-- 根据条件查询列表 -->
  <select id="listCodeValues" parameterType="com.rhtop.buss.common.entity.CodeValue" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from sys_code_value_ where 1=1
    	<if test="updateUser != null and updateUser != ''" >
			and update_user_ = #{updateUser}
		</if>
    	<if test="updateTime != null and updateTime != ''" >
			and update_time_ = #{updateTime}
		</if>
    	<if test="createUser != null and createUser != ''" >
			and create_user_ = #{createUser}
		</if>
    	<if test="codeMapId != null and codeMapId != ''" >
			and code_map_id_ = #{codeMapId}
		</if>
    	<if test="codeValueId != null and codeValueId != ''" >
			and code_value_id_ = #{codeValueId}
		</if>
    	<if test="createTime != null and createTime != ''" >
			and create_time_ = #{createTime}
		</if>
    	<if test="codeValue != null and codeValue != ''" >
			and code_value_ = #{codeValue}
		</if>
    	<if test="codeValueDescribe != null and codeValueDescribe != ''" >
			code_value_describe_ = #{codeValueDescribe}
		</if>
  </select>
  <!-- 根据条件分页查询列表 -->
  <select id="listPageCodeValue" parameterType="com.rhtop.buss.common.entity.CodeValue" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from sys_code_value_ where 1=1
    	<if test="updateUser != null and updateUser != ''" >
			and update_user_ = #{updateUser}
		</if>
    	<if test="updateTime != null and updateTime != ''" >
			and update_time_ = #{updateTime}
		</if>
    	<if test="createUser != null and createUser != ''" >
			and create_user_ = #{createUser}
		</if>
    	<if test="codeMapId != null and codeMapId != ''" >
			and code_map_id_ = #{codeMapId}
		</if>
    	<if test="codeValueId != null and codeValueId != ''" >
			and code_value_id_ = #{codeValueId}
		</if>
    	<if test="createTime != null and createTime != ''" >
			and create_time_ = #{createTime}
		</if>
    	<if test="codeValue != null and codeValue != ''" >
			and code_value_ = #{codeValue}
		</if>
    	<if test="codeValueDescribe != null and codeValueDescribe != ''" >
			and code_value_describe_ = #{codeValueDescribe}
		</if>
  </select>
  <!-- 根据代码集编码获取代码值列表-->
  <select id="listCodeValuesByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select a.* from sys_code_value_ a 
    LEFT JOIN sys_code_map_ b ON a.code_map_id_ = b.code_map_id_ 
	where b.code_ = #{0}
  </select>
</mapper>