<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rhtop.buss.biz.mapper.CusckLogMapper" >

  <resultMap id="BaseResultMap" type="com.rhtop.buss.common.entity.CusckLog" >
  	<id column="cusck_log_id_" property="cusckLogId" jdbcType="VARCHAR" />
  	<result column="customer_id_" property="customerId" jdbcType="VARCHAR" />
  	<result column="opr_time_" property="oprTime" jdbcType="VARCHAR" />
  	<result column="opr_user_" property="oprUser" jdbcType="VARCHAR" />
  	<result column="opr_name_" property="oprName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  	cusck_log_id_,
  	customer_id_,
  	opr_time_,
  	opr_user_,
  	opr_name_
  </sql>
  
  <!-- 根据条件新增对象-->
  <insert id="insertSelective" parameterType="com.rhtop.buss.common.entity.CusckLog" >
  	INSERT INTO buss_cusck_log_ 
  	<trim prefix="(" suffix=")" suffixOverrides="," >
  		<if test="cusckLogId != null" >
  			cusck_log_id_,
  		</if>
  		<if test="customerId != null" >
  			customer_id_,
  		</if>
  		<if test="oprTime != null" >
  			opr_time_,
  		</if>
  		<if test="oprUser != null" >
  			opr_user_,
  		</if>
  		<if test="oprName != null" >
  			opr_name_,
  		</if>
  	</trim>
  	<trim prefix="values (" suffix=")" suffixOverrides="," >
  		<if test="cusckLogId != null" >
	    	#{cusckLogId},
	    </if>
	    <if test="customerId != null" >
	    	#{customerId},
	    </if>
	    <if test="oprTime != null" >
	    	#{oprTime},
	    </if>
	    <if test="oprUser != null" >
	    	#{oprUser},
	    </if>
	    <if test="oprName != null" >
	    	#{oprName},
	    </if>
  	</trim>
  </insert>
  
  <!-- 根据主键删除对象 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from buss_cusck_log_ where
	cusck_log_id_ = #{0}
  </delete>
  
  <!-- 不需要修改方法 -->

  <!-- 根据主键查询对象-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from buss_cusck_log_
	where cusck_log_id_ = #{0}
  </select>

  <!-- 根据条件查询列表 -->
  <select id="listCusckLogs" parameterType="com.rhtop.buss.common.entity.CusckLog" resultMap="BaseResultMap">
	SELECT 
	<include refid="Base_Column_List" />
	FROM buss_cusck_log_ WHERE 1=1 
		<if test="cusckLogId != null and cusckLogId != ''" >
			and cusck_log_id_ = #{cusckLogId}
		</if>
		<if test="customerId != null and customerId != ''" >
			and customer_id_ = #{customerId}
		</if>
		<if test="oprTime != null and oprTime != ''" >
			and opr_time_ = #{oprTime}
		</if>
		<if test="oprUser != null and oprUser != ''" >
			and opr_user_ = #{oprUser}
		</if>
		<if test="oprName != null and oprName != ''" >
			and opr_name_ = #{oprName}
		</if>
  </select>

  <!-- 根据条件分页查询列表 -->
  <select id="listPageCusckLog" parameterType="com.rhtop.buss.common.entity.CusckLog" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from buss_deal_log_ where 1=1
		<if test="cusckLogId != null and cusckLogId != ''" >
			and cusck_log_id_ = #{cusckLogId}
		</if>
		<if test="customerId != null and customerId != ''" >
			and customer_id_ = #{customerId}
		</if>
		<if test="oprTime != null and oprTime != ''" >
			and opr_time_ = #{oprTime}
		</if>
		<if test="oprUser != null and oprUser != ''" >
			and opr_user_ = #{oprUser}
		</if>
		<if test="oprName != null and oprName != ''" >
			and opr_name_ = #{oprName}
		</if>
	</select>
	
	<!-- 根据客户id查询对该客户的操作记录 -->
	<select id="listPageCusckCustomer"  parameterType="com.rhtop.buss.common.entity.CusckLog" resultMap="BaseResultMap">
	select
	b.cus_name_,
	b.cus_cha_,
	b.cus_type_,
	c.member_job_,
	c.member_name_,
	a.opr_time_
	from buss_cusck_log_ a LEFT JOIN buss_customer_ b on a.customer_id_ = b.customer_id_
						   LEFT JOIN sys_member_ c on a.opr_user_ = c.member_id_ 
	where b.customer_id_ = #{customerId}
	ORDER BY a.opr_time_
	</select>
	
	<!-- 根据客户id查询对该客户的操作记录 -->
	<select id="selectCusckCustomer"  parameterType="com.rhtop.buss.common.entity.CusckLog" resultMap="BaseResultMap">
	select
	a.opr_name_,
	b.cus_cha_,
	b.cus_type_,
	c.member_job_,
	c.member_name_ as opr_user_,
	a.opr_time_
	from buss_cusck_log_ a LEFT JOIN buss_customer_ b on a.customer_id_ = b.customer_id_
						   LEFT JOIN sys_member_ c on a.opr_user_ = c.member_id_ 
	where b.customer_id_ = #{customerId}
	ORDER BY a.opr_time_
	</select>
</mapper>
