<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rhtop.buss.biz.mapper.DepartmentMapper" >

  <resultMap id="BaseResultMap" type="com.rhtop.buss.common.entity.Department" >
	<id column="department_code_" property="departmentCode" jdbcType="CHAR" />
	<result column="parent_department_" property="parentDepartment" jdbcType="VARCHAR" />
	<result column="update_time_" property="updateTime" jdbcType="VARCHAR" />
	<result column="describe_" property="describe" jdbcType="VARCHAR" />
	<result column="update_user_" property="updateUser" jdbcType="VARCHAR" />
	<result column="company_code_" property="companyCode" jdbcType="VARCHAR" />
	<result column="create_time_" property="createTime" jdbcType="VARCHAR" />
	<result column="create_user_" property="createUser" jdbcType="VARCHAR" />
	<result column="department_name_" property="departmentName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  	parent_department_,
  	update_time_,
  	describe_,
  	update_user_,
  	company_code_,
  	department_code_,
  	create_time_,
  	create_user_,
  	department_name_
  </sql>
  
  <!-- 根据条件新增对象-->
  <insert id="insertSelective" parameterType="com.rhtop.buss.common.entity.Department" >
    insert into sys_department_
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	<if test="parentDepartment != null" >
	    	parent_department_,
	    </if>
    	<if test="updateTime != null" >
	    	update_time_,
	    </if>
    	<if test="describe != null" >
	    	describe_,
	    </if>
    	<if test="updateUser != null" >
	    	update_user_,
	    </if>
    	<if test="companyCode != null" >
	    	company_code_,
	    </if>
    	<if test="departmentCode != null" >
	    	department_code_,
	    </if>
    	<if test="createTime != null" >
	    	create_time_,
	    </if>
    	<if test="createUser != null" >
	    	create_user_,
	    </if>
    	<if test="departmentName != null" >
	    	department_name_,
	    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="parentDepartment != null" >
	    	#{parentDepartment},
	    </if>
    	<if test="updateTime != null" >
	    	#{updateTime},
	    </if>
    	<if test="describe != null" >
	    	#{describe},
	    </if>
    	<if test="updateUser != null" >
	    	#{updateUser},
	    </if>
    	<if test="companyCode != null" >
	    	#{companyCode},
	    </if>
    	<if test="departmentCode != null" >
	    	#{departmentCode},
	    </if>
    	<if test="createTime != null" >
	    	#{createTime},
	    </if>
    	<if test="createUser != null" >
	    	#{createUser},
	    </if>
    	<if test="departmentName != null" >
	    	#{departmentName},
	    </if>
    </trim>
  </insert>
  <!-- 根据主键删除对象 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_department_ where
	department_code_ = #{departmentCode}
  </delete>
  <!-- 根据条件修改对象-->
  <update id="updateByPrimaryKeySelective" parameterType="com.rhtop.buss.common.entity.Department" >
    update sys_department_
    <set >
		<if test="parentDepartment != null and parentDepartment != ''" >
        	parent_department_ = #{parentDepartment},
      	</if>
		<if test="updateTime != null and updateTime != ''" >
        	update_time_ = #{updateTime},
      	</if>
		<if test="describe != null and describe != ''" >
        	describe_ = #{describe},
      	</if>
		<if test="updateUser != null and updateUser != ''" >
        	update_user_ = #{updateUser},
      	</if>
		<if test="companyCode != null and companyCode != ''" >
        	company_code_ = #{companyCode},
      	</if>
		<if test="createTime != null and createTime != ''" >
        	create_time_ = #{createTime},
      	</if>
		<if test="createUser != null and createUser != ''" >
        	create_user_ = #{createUser},
      	</if>
		<if test="departmentName != null and departmentName != ''" >
        	department_name_ = #{departmentName},
      	</if>
    </set>
    where 
	department_code_ = #{departmentCode}
  </update>
  <!-- 根据主键查询对象-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_department_
	where department_code_ = #{departmentCode,jdbcType=CHAR}
  </select>
  <!-- 根据条件查询列表 -->
  <select id="listDepartments" parameterType="com.rhtop.buss.common.entity.Department" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from sys_department_ where 1=1
    	<if test="parentDepartment != null and parentDepartment != ''" >
			and parent_department_ = #{parentDepartment}
		</if>
    	<if test="updateTime != null and updateTime != ''" >
			and update_time_ = #{updateTime}
		</if>
    	<if test="describe != null and describe != ''" >
			and describe_ = #{describe}
		</if>
    	<if test="updateUser != null and updateUser != ''" >
			and update_user_ = #{updateUser}
		</if>
    	<if test="companyCode != null and companyCode != ''" >
			and company_code_ = #{companyCode}
		</if>
    	<if test="departmentCode != null and departmentCode != ''" >
			and department_code_ = #{departmentCode}
		</if>
    	<if test="createTime != null and createTime != ''" >
			and create_time_ = #{createTime}
		</if>
    	<if test="createUser != null and createUser != ''" >
			and create_user_ = #{createUser}
		</if>
    	<if test="departmentName != null and departmentName != ''" >
			and department_name_ = #{departmentName}
		</if>
  </select>
  <!-- 根据条件分页查询列表 -->
  <select id="listPageDepartment" parameterType="com.rhtop.buss.common.entity.Department" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from sys_department_ where 1=1
    	<if test="parentDepartment != null and parentDepartment != ''" >
			and parent_department_ = #{parentDepartment}
		</if>
    	<if test="updateTime != null and updateTime != ''" >
			and update_time_ = #{updateTime}
		</if>
    	<if test="describe != null and describe != ''" >
			and describe_ = #{describe}
		</if>
    	<if test="updateUser != null and updateUser != ''" >
			and update_user_ = #{updateUser}
		</if>
    	<if test="companyCode != null and companyCode != ''" >
			and company_code_ = #{companyCode}
		</if>
    	<if test="departmentCode != null and departmentCode != ''" >
			and department_code_ = #{departmentCode}
		</if>
    	<if test="createTime != null and createTime != ''" >
			and create_time_ = #{createTime}
		</if>
    	<if test="createUser != null and createUser != ''" >
			and create_user_ = #{createUser}
		</if>
    	<if test="departmentName != null and departmentName != ''" >
			and department_name_ = #{departmentName}
		</if>
  </select>
  
</mapper>