<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rhtop.buss.biz.mapper.RelCustomerCategoryMapper" >

  <resultMap id="BaseResultMap" type="com.rhtop.buss.common.entity.RelCustomerCategory" >
	<id column="rel_customer_category_id_" property="relCustomerCategoryId" jdbcType="CHAR" />
	<result column="create_time_" property="createTime" jdbcType="VARCHAR" />
	<result column="cate_scale_" property="cateScale" jdbcType="VARCHAR" />
	<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
	<result column="create_user_" property="createUser" jdbcType="VARCHAR" />
	<result column="update_time_" property="updateTime" jdbcType="VARCHAR" />
	<result column="category_id_" property="categoryId" jdbcType="VARCHAR" />
	<result column="coo_inten_comm_" property="cooIntenComm" jdbcType="VARCHAR" />
	<result column="coo_inten_" property="cooInten" jdbcType="VARCHAR" />
	<result column="cus_loc_" property="cusLoc" jdbcType="VARCHAR" />
	<result column="customer_id_" property="customerId" jdbcType="VARCHAR" />
	<result column="cus_cha_val_" property="cusChaVal" jdbcType="VARCHAR" />
	<result column="cus_cha_id" property="cusChaId" jdbcType="VARCHAR"/>
	<!-- 导出用字段begin -->
	<result column="cate_name_" property="cateName" jdbcType="VARCHAR"/>
	<result column="cate_stan_" property="cateStan" jdbcType="VARCHAR"/>
	<result column="pkg_quan_" property="pkgQuan" jdbcType="VARCHAR"/>
	<result column="manu_num_" property="manuNum" jdbcType="VARCHAR"/>
	<result column="prod_pla_" property="prodPla" jdbcType="VARCHAR"/>
	<result column="comm_" property="comm" jdbcType="VARCHAR"/>
	<result column="member_name_" property="memberName" jdbcType="VARCHAR"/>
	<result column="wholesale_pri_" property="wholesalePri" jdbcType="VARCHAR"/>
	<result column="acpt_pri_" property="acptPri" jdbcType="VARCHAR"/>
	<result column="spot_min_" property="spotMin" jdbcType="VARCHAR"/>
	<result column="spot_max_" property="spotMax" jdbcType="VARCHAR"/>
	<result column="inter_fut_min_" property="interFutMin" jdbcType="VARCHAR"/>
	<result column="inter_fut_max_" property="interFutMax" jdbcType="VARCHAR"/>
	<result column="fut_min_" property="futMin" jdbcType="VARCHAR"/>
	<result column="fut_max_" property="futMax" jdbcType="VARCHAR"/>
	<result column="cate_sup_" property="cateSup" jdbcType="VARCHAR"/>
	<result column="offer_pri_" property="offerPri" jdbcType="VARCHAR"/>
	<result column="offer_aging_" property="offerAging" jdbcType="VARCHAR"/>
	<!-- 导出用字段end-->
  </resultMap>
  
  <sql id="Base_Column_List" >
  	create_time_,
  	cate_scale_,
  	update_user,
  	create_user_,
  	update_time_,
  	category_id_,
  	rel_customer_category_id_,
  	coo_inten_comm_,
  	coo_inten_,
  	cus_loc_,
  	customer_id_,
  	cus_cha_val_,
  	cus_cha_id,
  </sql>
  
  <!-- 根据条件新增对象-->
  <insert id="insertSelective" parameterType="com.rhtop.buss.common.entity.RelCustomerCategory" >
    insert into buss_rel_customer_category_
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	<if test="createTime != null" >
	    	create_time_,
	    </if>
    	<if test="cateScale != null" >
	    	cate_scale_,
	    </if>
    	<if test="updateUser != null" >
	    	update_user,
	    </if>
    	<if test="createUser != null" >
	    	create_user_,
	    </if>
    	<if test="updateTime != null" >
	    	update_time_,
	    </if>
    	<if test="categoryId != null" >
	    	category_id_,
	    </if>
    	<if test="relCustomerCategoryId != null" >
	    	rel_customer_category_id_,
	    </if>
    	<if test="cooIntenComm != null" >
	    	coo_inten_comm_,
	    </if>
    	<if test="cooInten != null" >
	    	coo_inten_,
	    </if>
    	<if test="cusLoc != null" >
	    	cus_loc_,
	    </if>
    	<if test="customerId != null" >
	    	customer_id_,
	    </if>
	    <if test="cusChaVal != null ">
			cus_cha_val_,
		</if>
		<if test="cusChaId !=null ">
			cus_cha_id_,
		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="createTime != null" >
	    	#{createTime},
	    </if>
    	<if test="cateScale != null" >
	    	#{cateScale},
	    </if>
    	<if test="updateUser != null" >
	    	#{updateUser},
	    </if>
    	<if test="createUser != null" >
	    	#{createUser},
	    </if>
    	<if test="updateTime != null" >
	    	#{updateTime},
	    </if>
    	<if test="categoryId != null" >
	    	#{categoryId},
	    </if>
    	<if test="relCustomerCategoryId != null" >
	    	#{relCustomerCategoryId},
	    </if>
    	<if test="cooIntenComm != null" >
	    	#{cooIntenComm},
	    </if>
    	<if test="cooInten != null" >
	    	#{cooInten},
	    </if>
    	<if test="cusLoc != null" >
	    	#{cusLoc},
	    </if>
    	<if test="customerId != null" >
	    	#{customerId},
	    </if>
	    <if test="cusChaVal != null ">
			#{cusChaVal},
		</if>
		<if test="cusChaId != null ">
			#{cusChaId},
		</if>
    </trim>
  </insert>
  <!-- 根据主键删除对象 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from buss_rel_customer_category_ where
	rel_customer_category_id_ = #{0}
  </delete>
  <!-- 根据条件修改对象-->
  <update id="updateByPrimaryKeySelective" parameterType="com.rhtop.buss.common.entity.RelCustomerCategory" >
    update buss_rel_customer_category_
    <set >
		<if test="createTime != null and createTime != ''" >
        	create_time_ = #{createTime},
      	</if>
		<if test="cateScale != null and cateScale != ''" >
        	cate_scale_ = #{cateScale},
      	</if>
		<if test="updateUser != null and updateUser != ''" >
        	update_user = #{updateUser},
      	</if>
		<if test="createUser != null and createUser != ''" >
        	create_user_ = #{createUser},
      	</if>
		<if test="updateTime != null and updateTime != ''" >
        	update_time_ = #{updateTime},
      	</if>
		<if test="categoryId != null and categoryId != ''" >
        	category_id_ = #{categoryId},
      	</if>
		<if test="cooIntenComm != null and cooIntenComm != ''" >
        	coo_inten_comm_ = #{cooIntenComm},
      	</if>
		<if test="cooInten != null and cooInten != ''" >
        	coo_inten_ = #{cooInten},
      	</if>
		<if test="cusLoc != null and cusLoc != ''" >
        	cus_loc_ = #{cusLoc},
      	</if>
		<if test="customerId != null and customerId != ''" >
        	customer_id_ = #{customerId},
      	</if>
      	<if test="cusChaVal != null and cusChaVal != ''">
			 cus_cha_val_ = #{cusChaVal},
		</if>
		<if test="cusChaId != null and cusChaId !='' ">
				cus_cha_Id_ = #{cusChaId},
			</if>
    </set>
    where 
	rel_customer_category_id_ = #{relCustomerCategoryId}
  </update>
  <!-- 根据主键查询对象-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from buss_rel_customer_category_
	where rel_customer_category_id_ = #{0}
  </select>
  <!-- 根据创建人、客户ID、品类ID查询对象 -->
  <select id="selectByPrimaryParam" resultType="com.rhtop.buss.common.entity.RelCustomerCategory" parameterType="com.rhtop.buss.common.entity.RelCustomerCategory">
  	SELECT 
  	<include refid="Base_Column_List" />
  	FROM buss_rel_customer_category_ 
  	WHERE customer_id_={customerId} AND category_id_ = {categoryId} AND	create_user_ = {createUser}
  </select>
  <!-- 根据条件查询列表 -->
  <select id="listRelCustomerCategorys" parameterType="com.rhtop.buss.common.entity.RelCustomerCategory" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from buss_rel_customer_category_ where 1=1
    	<if test="createTime != null and createTime != ''" >
			and create_time_ = #{createTime}
		</if>
    	<if test="cateScale != null and cateScale != ''" >
			and cate_scale_ = #{cateScale}
		</if>
    	<if test="updateUser != null and updateUser != ''" >
			and update_user = #{updateUser}
		</if>
    	<if test="createUser != null and createUser != ''" >
			and create_user_ = #{createUser}
		</if>
    	<if test="updateTime != null and updateTime != ''" >
			and update_time_ = #{updateTime}
		</if>
    	<if test="categoryId != null and categoryId != ''" >
			and category_id_ = #{categoryId}
		</if>
    	<if test="relCustomerCategoryId != null and relCustomerCategoryId != ''" >
			and rel_customer_category_id_ = #{relCustomerCategoryId}
		</if>
    	<if test="cooIntenComm != null and cooIntenComm != ''" >
			and coo_inten_comm_ = #{cooIntenComm}
		</if>
    	<if test="cooInten != null and cooInten != ''" >
			and coo_inten_ = #{cooInten}
		</if>
    	<if test="cusLoc != null and cusLoc != ''" >
			and cus_loc_ = #{cusLoc}
		</if>
    	<if test="customerId != null and customerId != ''" >
			and customer_id_ = #{customerId}
		</if>
		<if test="cusChaVal != null and cusChaVal != ''">
			and cus_cha_val_ = #{cusChaVal}
		</if>
		<if test="cusChaId != null and cusChaId !='' ">
			and	cus_cha_Id_ = #{cusChaId},
			</if>
  </select>
  <!-- 根据条件分页查询列表 -->
  <select id="listPageRelCustomerCategory" parameterType="com.rhtop.buss.common.entity.RelCustomerCategory" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from buss_rel_customer_category_ where 1=1
    	<if test="createTime != null and createTime != ''" >
			and create_time_ = #{createTime}
		</if>
    	<if test="cateScale != null and cateScale != ''" >
			and cate_scale_ = #{cateScale}
		</if>
    	<if test="updateUser != null and updateUser != ''" >
			and update_user = #{updateUser}
		</if>
    	<if test="createUser != null and createUser != ''" >
			and create_user_ = #{createUser}
		</if>
    	<if test="updateTime != null and updateTime != ''" >
			and update_time_ = #{updateTime}
		</if>
    	<if test="categoryId != null and categoryId != ''" >
			and category_id_ = #{categoryId}
		</if>
    	<if test="relCustomerCategoryId != null and relCustomerCategoryId != ''" >
			and rel_customer_category_id_ = #{relCustomerCategoryId}
		</if>
    	<if test="cooIntenComm != null and cooIntenComm != ''" >
			and coo_inten_comm_ = #{cooIntenComm}
		</if>
    	<if test="cooInten != null and cooInten != ''" >
			and coo_inten_ = #{cooInten}
		</if>
    	<if test="cusLoc != null and cusLoc != ''" >
			and cus_loc_ = #{cusLoc}
		</if>
    	<if test="customerId != null and customerId != ''" >
			and customer_id_ = #{customerId}
		</if>
		<if test="cusChaVal != null and cusChaVal != ''">
			and cus_cha_val_ = #{cusChaVal}
		</if>
		<if test="cusChaId != null and cusChaId !='' ">
			and cus_cha_Id_ = #{cusChaId},
		</if>
  </select>
  
   <!-- 品类导出数据查询 -->
  <select id="categoryExportList" parameterType="com.rhtop.buss.common.entity.Category" resultMap="BaseResultMap">
  	SELECT a.category_id_,b.cate_name_,b.cate_stan_,b.pkg_quan_,b.manu_num_,b.prod_pla_,b.comm_,
	a.cus_loc_,a.cus_cha_val_,d.member_name_,c.wholesale_pri_,c.acpt_pri_,
	c.spot_min_,c.spot_max_,c.inter_fut_min_,c.inter_fut_max_,
	c.fut_min_,c.fut_max_,c.cate_sup_,b.offer_pri_,c.offer_aging_ from  
	buss_rel_customer_category_ a LEFT JOIN buss_category_ b ON
	a.category_id_ = b.category_id_ LEFT JOIN buss_rel_category_price_ c ON
	a.category_id_ = c.category_id_ LEFT JOIN sys_member_ d ON c.mgr_id_ = d.member_id_
	where a.cus_cha_id_ = c.cus_cha_id_ 
	<if test="cateName != null and cateName !='' ">
		and b.cate_name_ = #{cateName},
	</if>
	<if test="manuNum != null and manuNum !='' ">
		and b.manu_num_ = #{manuNum},
	</if>
  </select>
  	
</mapper>