<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rhtop.buss.biz.mapper.TransactionInfoMapper" >

  <resultMap id="BaseResultMap" type="com.rhtop.buss.common.entity.TransactionInfo" >
	<id column="transaction_info_id_" property="transactionInfoId" jdbcType="CHAR" />
	<result column="ctof_pri_" property="ctofPri" jdbcType="VARCHAR" />
	<result column="tx_status_" property="txStatus" jdbcType="VARCHAR" />
	<result column="tx_amo_" property="txAmo" jdbcType="VARCHAR" />
	<result column="update_time_" property="updateTime" jdbcType="VARCHAR" />
	<result column="create_time_" property="createTime" jdbcType="VARCHAR" />
	<result column="pcas_pri_" property="pcasPri" jdbcType="VARCHAR" />
	<result column="category_id_" property="categoryId" jdbcType="VARCHAR" />
	<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
	<result column="ctof_aging_" property="ctofAging" jdbcType="VARCHAR" />
	<result column="timing_sta_" property="timingSta" jdbcType="VARCHAR" />
	<result column="pcas_time_" property="pcasTime" jdbcType="VARCHAR" />
	<result column="deal_time_" property="dealTime" jdbcType="VARCHAR" />
	<result column="customer_id_" property="customerId" jdbcType="VARCHAR" />
	<result column="create_user_" property="createUser" jdbcType="VARCHAR" />
	<result column="end_time_" property="endTime" jdbcType="VARCHAR" />
	
	<!-- 外键字段 -->
	<result column="cus_name_" property="cusName" jdbcType="VARCHAR" />
	<result column="cus_cha_" property="cusCha" jdbcType="VARCHAR" />
	<result column="manu_num_" property="manuNum" jdbcType="VARCHAR" />
	<result column="create_user_" property="createUser" jdbcType="VARCHAR" />
	<result column="cate_name_" property="cateName" jdbcType="VARCHAR" />
	
  </resultMap>
  
  <sql id="Base_Column_List" >
  	ctof_pri_,
  	tx_status_,
  	tx_amo_,
  	update_time_,
  	create_time_,
  	pcas_pri_,
  	category_id_,
  	update_user,
  	ctof_aging_,
  	transaction_info_id_,
  	timing_sta_,
  	pcas_time_,
  	deal_time_,
  	customer_id_,
  	create_user_
  </sql>
  
  <!-- 根据条件新增对象-->
  <insert id="insertSelective" parameterType="com.rhtop.buss.common.entity.TransactionInfo" >
    insert into buss_transaction_info_
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	<if test="ctofPri != null" >
	    	ctof_pri_,
	    </if>
    	<if test="txStatus != null" >
	    	tx_status_,
	    </if>
    	<if test="txAmo != null" >
	    	tx_amo_,
	    </if>
    	<if test="updateTime != null" >
	    	update_time_,
	    </if>
    	<if test="createTime != null" >
	    	create_time_,
	    </if>
    	<if test="pcasPri != null" >
	    	pcas_pri_,
	    </if>
    	<if test="categoryId != null" >
	    	category_id_,
	    </if>
    	<if test="updateUser != null" >
	    	update_user,
	    </if>
    	<if test="ctofAging != null" >
	    	ctof_aging_,
	    </if>
    	<if test="transactionInfoId != null" >
	    	transaction_info_id_,
	    </if>
    	<if test="timingSta != null" >
	    	timing_sta_,
	    </if>
    	<if test="pcasTime != null" >
	    	pcas_time_,
	    </if>
    	<if test="dealTime != null" >
	    	deal_time_,
	    </if>
    	<if test="customerId != null" >
	    	customer_id_,
	    </if>
    	<if test="createUser != null" >
	    	create_user_,
	    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="ctofPri != null" >
	    	#{ctofPri},
	    </if>
    	<if test="txStatus != null" >
	    	#{txStatus},
	    </if>
    	<if test="txAmo != null" >
	    	#{txAmo},
	    </if>
    	<if test="updateTime != null" >
	    	#{updateTime},
	    </if>
    	<if test="createTime != null" >
	    	#{createTime},
	    </if>
    	<if test="pcasPri != null" >
	    	#{pcasPri},
	    </if>
    	<if test="categoryId != null" >
	    	#{categoryId},
	    </if>
    	<if test="updateUser != null" >
	    	#{updateUser},
	    </if>
    	<if test="ctofAging != null" >
	    	#{ctofAging},
	    </if>
    	<if test="transactionInfoId != null" >
	    	#{transactionInfoId},
	    </if>
    	<if test="timingSta != null" >
	    	#{timingSta},
	    </if>
    	<if test="pcasTime != null" >
	    	#{pcasTime},
	    </if>
    	<if test="dealTime != null" >
	    	#{dealTime},
	    </if>
    	<if test="customerId != null" >
	    	#{customerId},
	    </if>
    	<if test="createUser != null" >
	    	#{createUser},
	    </if>
    </trim>
  </insert>
  <!-- 根据主键删除对象 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from buss_transaction_info_ where
	transaction_info_id_ = #{0}
  </delete>
  <!-- 根据条件修改对象-->
  <update id="updateByPrimaryKeySelective" parameterType="com.rhtop.buss.common.entity.TransactionInfo" >
    update buss_transaction_info_
    <set >
		<if test="ctofPri != null and ctofPri != ''" >
        	ctof_pri_ = #{ctofPri},
      	</if>
		<if test="txStatus != null and txStatus != ''" >
        	tx_status_ = #{txStatus},
      	</if>
		<if test="txAmo != null and txAmo != ''" >
        	tx_amo_ = #{txAmo},
      	</if>
		<if test="updateTime != null and updateTime != ''" >
        	update_time_ = #{updateTime},
      	</if>
		<if test="createTime != null and createTime != ''" >
        	create_time_ = #{createTime},
      	</if>
		<if test="pcasPri != null and pcasPri != ''" >
        	pcas_pri_ = #{pcasPri},
      	</if>
		<if test="categoryId != null and categoryId != ''" >
        	category_id_ = #{categoryId},
      	</if>
		<if test="updateUser != null and updateUser != ''" >
        	update_user = #{updateUser},
      	</if>
		<if test="ctofAging != null and ctofAging != ''" >
        	ctof_aging_ = #{ctofAging},
      	</if>
		<if test="timingSta != null and timingSta != ''" >
        	timing_sta_ = #{timingSta},
      	</if>
		<if test="pcasTime != null and pcasTime != ''" >
        	pcas_time_ = #{pcasTime},
      	</if>
		<if test="dealTime != null and dealTime != ''" >
        	deal_time_ = #{dealTime},
      	</if>
		<if test="customerId != null and customerId != ''" >
        	customer_id_ = #{customerId},
      	</if>
		<if test="createUser != null and createUser != ''" >
        	create_user_ = #{createUser},
      	</if>
    </set>
    where 
	transaction_info_id_ = #{transactionInfoId}
  </update>
  <!-- 根据主键查询对象-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from buss_transaction_info_
	where transaction_info_id_ = #{0}
  </select>
  <!-- 根据条件查询列表 -->
  <select id="listTransactionInfos" parameterType="com.rhtop.buss.common.entity.TransactionInfo" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from buss_transaction_info_ where 1=1
    	<if test="ctofPri != null and ctofPri != ''" >
			and ctof_pri_ = #{ctofPri}
		</if>
    	<if test="txStatus != null and txStatus != ''" >
			and tx_status_ = #{txStatus}
		</if>
    	<if test="txAmo != null and txAmo != ''" >
			and tx_amo_ = #{txAmo}
		</if>
    	<if test="updateTime != null and updateTime != ''" >
			and update_time_ = #{updateTime}
		</if>
    	<if test="createTime != null and createTime != ''" >
			and create_time_ = #{createTime}
		</if>
    	<if test="pcasPri != null and pcasPri != ''" >
			and pcas_pri_ = #{pcasPri}
		</if>
    	<if test="categoryId != null and categoryId != ''" >
			and category_id_ = #{categoryId}
		</if>
    	<if test="updateUser != null and updateUser != ''" >
			and update_user = #{updateUser}
		</if>
    	<if test="ctofAging != null and ctofAging != ''" >
			and ctof_aging_ = #{ctofAging}
		</if>
    	<if test="transactionInfoId != null and transactionInfoId != ''" >
			and transaction_info_id_ = #{transactionInfoId}
		</if>
    	<if test="timingSta != null and timingSta != ''" >
			and timing_sta_ = #{timingSta}
		</if>
    	<if test="pcasTime != null and pcasTime != ''" >
			and pcas_time_ = #{pcasTime}
		</if>
    	<if test="dealTime != null and dealTime != ''" >
			and deal_time_ = #{dealTime}
		</if>
    	<if test="customerId != null and customerId != ''" >
			and customer_id_ = #{customerId}
		</if>
    	<if test="createUser != null and createUser != ''" >
			and create_user_ = #{createUser}
		</if>
  </select>
  <!-- 根据条件分页查询列表 -->
  <select id="listPageTransactionInfo" parameterType="com.rhtop.buss.common.entity.TransactionInfo" resultMap="BaseResultMap">
	select 
	a.transaction_info_id_,
	a.tx_status_,
	b.cus_name_,
	b.cus_cha_,
	c.cate_name_,
	c.manu_num_ 
	from buss_transaction_info_ a LEFT JOIN buss_customer_ b on a.customer_id_ = b.customer_id_ 
								  LEFT JOIN buss_category_ c on a.category_id_ = c.category_id_
	where create_user_ = #{createUser}
    	<if test="ctofPri != null and ctofPri != ''" >
			and a.ctof_pri_ = #{ctofPri}
		</if>
    	<if test="txStatus != null and txStatus != ''" >
			and a.tx_status_ = #{txStatus}
		</if>
    	<if test="txAmo != null and txAmo != ''" >
			and a.tx_amo_ = #{txAmo}
		</if>
    	<if test="updateTime != null and updateTime != ''" >
			and a.update_time_ = #{updateTime}
		</if>
    	<if test="createTime != null and createTime != ''" >
			and a.create_time_ = #{createTime}
		</if>
    	<if test="pcasPri != null and pcasPri != ''" >
			and a.pcas_pri_ = #{pcasPri}
		</if>
    	<if test="categoryId != null and categoryId != ''" >
			and a.category_id_ = #{categoryId}
		</if>
    	<if test="updateUser != null and updateUser != ''" >
			and a.update_user = #{updateUser}
		</if>
    	<if test="ctofAging != null and ctofAging != ''" >
			and a.ctof_aging_ = #{ctofAging}
		</if>
    	<if test="transactionInfoId != null and transactionInfoId != ''" >
			and a.transaction_info_id_ = #{transactionInfoId}
		</if>
    	<if test="timingSta != null and timingSta != ''" >
			and a.timing_sta_ = #{timingSta}
		</if>
    	<if test="pcasTime != null and pcasTime != ''" >
			and a.pcas_time_ = #{pcasTime}
		</if>
    	<if test="dealTime != null and dealTime != ''" >
			and a.deal_time_ = #{dealTime}
		</if>
    	<if test="customerId != null and customerId != ''" >
			and a.customer_id_ = #{customerId}
		</if>
    	<if test="createUser != null and createUser != ''" >
			and a.create_user_ = #{createUser}
		</if>
  </select>
  
</mapper>